html,body{
    height: 100%;
}
/* 通用样式 */
body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 20px;
    background-image: url('../img/background1.jpg');
    background-size: 100% auto; /* 设置背景图片宽度为100%适应页面宽度 */
    background-position: top center; /* 设置背景图片从顶部开始 */
    background-attachment: fixed; /* 背景图片固定在页面 */
    transition: background-image 0.5s cubic-bezier(0.1, 0.8, 0.5, 0.9);
    position: relative;
}


h1 {
    font-family:STKaiti;
    color:#2a333a;
    font-size:80px;
    font-weight:800;
    padding-top: 60px;
    text-shadow: 4px 4px 4px #b5bec3,
             4px 4px 4px 	#575757,
             2px 2px 2px #829fac;
}
h2{
    font-family:STKaiti;
    padding-top:20px;
    font-weight:800;
    color:#213D45 !important;
    text-shadow: 2px 2px 2px #b5bec3,
             2px 2px 2px 	#575757,
             1px 1px 1px #829fac;
}

.form-label{
    font-family:STKaiti;
    font-weight:800;
    padding-top:10px;
    font-size:20px;
    color:#213D45 !important;
}

/*导航栏 修改整个导航栏的左边距和左边框 */
.navbar {
    padding-left: 15%; /* 设置整个导航栏的左边距 */
    border-left: 3px solid #ccc; /* 设置导航栏的左边框 */
    background-color: transparent !important;
}

/*导航栏左边标题*/
.navbar-brand {
    font-family: STKaiti; /* 更改字体 */
    font-size: 28px; /* 更改字体大小 */
    font-weight: bold;
    color: 	#213D45 !important; /* 更改字体颜色 */
}


/* 修改导航栏容器的左边距 */
.container-fluid {
    padding-left: 20px; /* 设置容器的左边距 */
}

/* 修改导航项之间的左边距和边框 */
.nav-item {
    margin-left: 10px; /* 设置每个导航项的左边距 */
}

/* 修改导航项链接的样式 */
.nav-link {
    padding-left: 10px; /* 设置每个链接的左内边距 */
    padding-right: 10px; /* 设置每个链接的右内边距 */
    line-height: 40px; /* 设置相同的行高来保持垂直对齐 */
    font-family:STXinwei;
    font-size: 18px;
    color:DimGray!important;
}

/* Tooltip 样式 */
.navbar-brand .tooltip{
    visibility: hidden;
    width: 200px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* 定位 */
    position: absolute;
    z-index: 1;
}

.navbar-brand:hover .tooltip {
    visibility: visible;
    transition: 0.5s ease;
    opacity: 0.5;
}

#nav-qa .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
        /* 定位 */
    position: absolute;
    z-index: 1;
}

#nav-qa:hover .tooltip {
    visibility: visible;
    transition: 0.5s ease;
    opacity: 0.5;
}

#nav-graph .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
        /* 定位 */
    position: absolute;
    z-index: 1;
}

#nav-graph:hover .tooltip {
    visibility: visible;
    transition: 0.5s ease;
    opacity: 0.5;
}
/* 设置 active 链接的样式 */
#nav-qa.active {
    line-height: 40px; /* 设置相同的行高来保持垂直对齐 */
    font-weight: bold;
    color: #B7D2E7 !important;
    font-family: STXingkai;
    font-size: 24px;
}

#nav-graph.active {
    line-height: 40px; /* 设置相同的行高来保持垂直对齐 */
    font-weight: bold;
    color: #5A7C8C !important;
    font-family: STXingkai;
    font-size: 24px;
}


/*弹窗设计*/
.modal-title{
    font-family: kaiti;
    font-weight: bold;
}
.modal-body{
    font-family: kaiti;
    font-weight: bold;
    font-size: 16px;
}
#the-modal-footer{
    font-family: kaiti;
    font-weight: bold;
}
.btn btn-secondary{
    font-family: kaiti;
}
.container{
    height: 85%;
    padding-bottom: 10px;
}

.section {
    min-height: 70%;
    box-sizing: border-box;
}
textarea{
    padding: 0;
    text-align: left:
}
button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
[id^=QuerySelection]{
    padding-top: 2px;
    height: 30px;
    font-family: kaiti;
    font-weight: bold;
}
/* 问答系统部分 */
#question {
    border: 1px solid #f3ebeb;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    font-family: kaiti;
    font-weight: 600
}
.form-control {
    border: 1px solid #f3ebeb;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    font-family: kaiti;
    font-weight: 600
}
/*查询按钮*/
#search-botton {
  height: 40px;
  width: 110px;
  font-family: kaiti;
  font-weight: bold;
  font-size: 20px;
  background: white;
  color: black;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
#generate-botton {
  height: 40px;
  width: 110px;
  font-family: kaiti;
  font-weight: bold;
  font-size: 20px;
  background: white;
  color: black;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(90deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

#answer {
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#answer.alert-success {
    border-color: #c3e6cb;
    font-size:18px;
    color:#293738;
    padding-left:60px ;
    font-family:kaiti;
    font-weight:bold;
    /* 设置固定的高度以显示滚动条 */
    height: 400px; /* 固定高度 */
    width: 960px;
    /* 启用垂直滚动条 */
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8); /* 设置半透明白色背景 */
    /*background-image: url('../img/background3.jpeg');*/
    background-size: 100% auto; /* 设置背景图片宽度为100%适应页面宽度 */
    background-position: top center; /* 设置背景图片从顶部开始 */
    background-attachment: fixed; /* 背景图片固定在页面 */

}
#answer.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
/* 图谱生成部分 */
#cypher-query {
    resize: none;
    border-radius: 5px;
}

iframe {
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    left: 0;
    width: 100%;  /* 设置宽度为100%，使footer横跨整个页面 */
    padding-bottom: 20px ;  /* 上下内边距 */
    text-align: center;
    font-size: 14px;  /* 设置适当的字体大小 */

}


/* 容器样式 */
.loader-container {
  display: flex;
  justify-content: center; /* 水平居中center */
  align-items: center;     /* 垂直居中 */
  height: 300px;          /* 容器高度设置为视口高度height: 100vh; */
}
.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #000;

  animation: ball-scale infinite linear 0.75s;
}
@keyframes ball-scale {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
